/* Activamos las utilidades y configuraciones base de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= CONFIGURACIÓN GLOBAL ================= */

/* Tema claro por defecto */
:root {
  color-scheme: light; /* evita que Safari ponga inputs oscuros */
}

/* Cuando se activa el modo oscuro */
.dark {
  color-scheme: dark;
}


/* Box-sizing para que el padding no afecte el ancho total */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Para ocupar la altura de la pantalla */
html, body, #root {
  height: 100%;
}

/* Estilos base del body */
body {
  margin: 0; 
  line-height: 1.5; 

  /* Para suavizar las fuentes en diferentes sistemas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Fuente principal */
  font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

/* ================= ENLACES ================= */
/* Para quitar subrayado y el color del texto */
a { 
  color: inherit; 
  text-decoration: none; 
}


