/* ================= GENERAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  overflow: scroll;
}

body {
  font-family: "Nunito", "Public Sans", sans-serif;
  background-color: #f3f3f3;
  font-size: 16px;
  margin-bottom: 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-family: "Nunito", "Public Sans", sans-serif;
}

.hidden {
  display: none;
}

/* ================= HEADER ================= */

header {
  background-color: #b7d9db;
  width: 100%;
  padding: 20px;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


/* ================= BACKGROUND ================= */

.section-back {
  text-align: center;
  width: 100%;
  margin: 20% auto 10px;
}

.header-name {
  font-size: 28px;
  font-weight: bold;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  text-align: center;
  margin: 0;
}

.back img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

/* ================= TASK LIST ================= */

.tasks {
  width: 80%;
  min-height: 100px;
  margin: 10px auto 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 10px 1px #aaa;
}

.task-item {
  width: 100%;
  margin-top: 10px;
  padding: 25px 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.task-item:hover {
  background: #ddd;
}

.completed {
  text-decoration: line-through;
  background: #bdbdbd;
  padding: 8px 8px;
}

.delete {
  float: right;
  margin-right: 10px;
}

.delete i {
  margin-right: 4px;
  margin-bottom: 16px;
}

.high-priority {
  border-left: 3px solid rgb(250, 101, 126);
}

.medium-priority {
  border-left: 3px solid rgb(235, 200, 134);
}

.low-priority {
  border-left: 3px solid rgb(134, 210, 134);
}

.task-item > * {
  padding: 0 5px;
  cursor: pointer;
}

.borrar {
  margin-left: 10px;
}

.task-item i {
  font-size: 1.3em;
}

.task-item > label {
  flex-grow: 2;
  margin: 0px 14px;
}

i:hover {
  color: #434343;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

/* Ocultar el input nativo */
input[type="checkbox"] {
  display: none;
}

/* Estilo para el contenedor del icono del checkbox */
input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 1.2em;
}


/* ================= FORM ================= */

textarea {
  resize: none;
}

#form {
  width: 40%;
  min-width: 300px;
  margin: 20px auto 100px;
  background-color: #fcfcfc;
  padding: 15px 30px 15px;
  box-shadow: 1px 4px 10px 1px #aaa;
  border-radius: 10px;
  z-index: 2;
}

#form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}

#form input[type="text"],
#form select,
#form option,
#form textarea {
  display: block;
  background-color: #f3f3f3;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

#form input[type="text"],
#form select,
#form option {
  height: 32px;
}

#form option {
  font-size: 1.1em;
}

#form textarea {
  width: 100%;
}

#form label {
  color: #777;
  font-size: 0.8em;
}

#form .btnAdd {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: black;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
  background: #b7d9db;
  z-index: 3;
  font-size: 16px;
}

#form .cerrar button {
  float: right;
  position: relative;
  right: -10px;
  top: -4px;
  font-size: 1.5em;
}

/* ================= CUSTOM RADIOS ================= */

.custom-radios div {
  display: inline-block;
}

.custom-radios div input {
  display: none;
}

.custom-radios div label span {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 5px 5px 5px 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 21px;
}

.custom-radios label span img {
  opacity: 0;
  transition: all 0.1s ease;
}

#color-1 + label span {
  background-color: #434343;
}

#color-2 + label span {
  background-color: rgb(134, 210, 134);
}

#color-3 + label span {
  background-color: rgb(235, 200, 134);
}

#color-4 + label span {
  background-color: rgb(250, 101, 126);
}

input:checked + label span img {
  opacity: 1;
}

input:checked + label span {
  opacity: 1;
  border: 2px solid #434343;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* ================= FILTROS ================= */

.filters {
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filters label {
  margin-right: 10px;
  font-weight: bold;
}

.filters select {
  margin-right: 20px;
  padding: 5px;
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 768px) {
  .filters {
    flex-wrap: wrap;
  }

  .filters label,
  .filters select {
    margin-bottom: 10px; 
    margin-right: 0; /
  }

  .filters select {
    width: 100%; 
  }
}


/* ================= FOOTER ================= */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #b7d9db80;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  z-index: 1;
}

footer p {
  margin: 12px;
  font-size: 12px !important;
}

footer button {
  float: right;
  margin-right: 20px;
}

/* ================= BOTON EN EL FOOTER ================= */

button {
  border: none;
  background: none;
  cursor: pointer;
}

button#add {
  position: fixed; 
  bottom: 100px; 
  right: 20px; 
  background-color: #b7d9db; 
  border: none;
  border-radius: 50%; 
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
}

button#add img {
  width: 30px;
  height: 30px;
}

/* Ajustes en pantallas pequeñas */
@media (max-width: 768px) {
  button#add {
    bottom: 80px;
    right: 10px;
    padding: 12px;
  }

  button#add img {
    width: 26px;
    height: 26px;
  }
}

/* ================= BOTON CAMBIAR TEMA CLARO/OSCURO ================= */

/* Estilos para el tema oscuro */

#dark-body {
  background-color: #333;
  color: #fff;
}

.dark {
  background-color: #333;
  color: #fff;
}

.dark header {
  background-color: #444;
}

.dark .theme-toggle {
  color: #fff;
  background-color: #555;
}

.dark .header-name {
  color: #fff;
}

.dark .footer {
  color: #fff;
  background-color: #555;
}

.dark #add {
  background-color: #ffff;
}

.dark header .menu-button img,
.dark .header-name img {
  filter: brightness(0) saturate(100%) invert(1);
}

.dark .back img {
  filter: brightness(0) saturate(100%) invert(1);
}

.dark .task-dark {
  color: #333;
}

.dark,
.filters .task-dark {
  color: #333;
}

.dark p {
  color: #ffff !important;
}

.dark .btnAdd {
  background-color: #555 !important;
  color: #ffff !important;
}

/* Estilos para el tema claro */
.light {
  background-color: #f3f3f3;
  color: #333;
}

.light header {
  background-color: #b7d9db;
}

.light .theme-toggle {
  color: #333;
  background-color: #acc8c8a9;
}

.light .header-name {
  color: #333;
}

/* Estilo para el botón de cambiar tema */
.theme-toggle {
  padding: 10px 15px;
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 80px;
  font-family: inherit;
}

.theme-toggle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ================= MENU DESPLEGABLE ================= */

.menu-container {
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
  width: 150px;
}

.menu-dropdown a {
  display: block;
  padding: 12px 25px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.menu-dropdown a:hover {
  background-color: #f3f3f3;
}

/* Estilos para el tema oscuro */
.dark .menu-dropdown {
  background-color: #444;
}

.dark .menu-dropdown a {
  color: #fff;
}

.dark .menu-dropdown a:hover {
  background-color: #555;
}

/* ================= FORMULARIOS ================= */

/* Contenedor principal para Login y Registro */
.page-container {
  display: flex;
  flex-direction: column;
}

.page-container header {
  background-color: #b7d9db;
  width: 100%;
  padding: 20px;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.page-container footer button {
  display: none;
}

/* Contenedor para centrar el formulario */
.form-center-container {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

/* Estilo para el formulario */
.form-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

/* Estilo para títulos del formulario */
.form-box h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
  text-align: center;
}

/* Estilo para textos del formulario */
.box-text h1 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box-text p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilo para inputs */
.form-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Botón de enviar */
.form-box button {
  width: 100%;
  padding: 10px;
  background-color: #b7d9db;
  color: #333;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-box button:hover {
  background-color: #a0c7c9;
}

.form-box .error {
  color: #ff4d4f;
}

/* Estilos para el tema oscuro */
.dark .form-box {
  background-color: #444;
  color: #fff;
}

.dark .form-box input {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.dark .form-box button {
  background-color: #555;
  color: #fff;
}

.dark .form-box button:hover {
  background-color: #666;
}

.dark .form-box .error {
  color: #ff6f6f;
}

.dark header {
  background-color: #444 !important;
}

.dark .box-text h1 {
  color: #ffff;
}

.dark .form-box h2 {
  color: #ffff;
}

/* ================= PÁGINA DE ERROR  ================= */

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  padding: 50px;
}

.error-page h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.error-page p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Enlace dentro del texto */
.link-home {
  color: #5e8d90;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-home:hover {
  color: #b7d9db;
}


/* Tema oscuro */
.dark .error-page h1 {
  color: #ffffff;
}

.dark .error-page p {
  color: #dddddd;
}

.dark .link-home {
  color: #b7d9db;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.dark .link-home:hover {
  color: #5e8d90;
}
